/** * Created by lzq on 2017/9/27. */.con_icon  width:100%;  height:100%;  position:relative;  display:flex;  flex-direction:column;  justify-content:space-between;  align-items:center;  border:1px solid red;  .icon    width:0.42rem;    height:0.42rem;    //border:1px solid red;    display:block;  .title    font-size:0.12rem;    color:red;    font-family:  "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;  .iconA  //美食    background: url('../static/icon_shoptype.png') 4% 4% no-repeat;    background-size:370%;    border: 1px solid blue;